@using Microsoft.AspNet.Identity

<head>
    <link href="~/Styles/Index.css" rel="stylesheet" type="text/css" />
</head>


@if (Request.IsAuthenticated)
{
    <div class="admin">
        <h4>Admin mode</h4>
    </div>

    @Html.Partial("IndexAdmin")

}
else
{
    @Html.Partial("IndexCommon")
}