@{
    ViewBag.Title = "Home Page";
}
<html lang="zxx">
<head>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="wrap">
        <div class="card-group">
            <div class="card">
                <img src="~/Images/Parts.png" class="card-img-top itemPicture" alt="Engine" onclick="showComponents()">
                <div class="card-body">
                    <h5 class="card-title">Components manager</h5>
                    <p class="card-text">Create, modify or delete car components</p>
                    <div class="btn btn-lg btn-block btn-primary mt-auto" onclick="showComponents()">Manage components</div>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/Car workshop.png" class="card-img-top itemPicture" alt="Workshop" onclick="showCars()">
                <div class="card-body">
                    <h5 class="card-title">Car workshop</h5>
                    <p class="card-text">Create, modify or delete cars</p>
                    <div class="btn btn-lg btn-block btn-primary mt-auto" onclick="showCars()">Manage cars</div>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/Race.png" class="card-img-top itemPicture" alt="Race" onclick="showRace()">
                <div class="card-body">
                    <h5 class="card-title">Racing center</h5>
                    <p class="card-text">Manage racing</p>
                    <div class="btn btn-lg btn-block btn-primary mt-auto" onclick="showRace()">Manage racing</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
function showComponents() {
        location.href = '@Url.Action("Index", "Components")';
        }
</script>
<script type="text/javascript">
function showCars() {
        location.href = '@Url.Action("Index", "RacingCar")';
        }
</script>
<script type="text/javascript">
function showRace() {
        location.href = '@Url.Action("Index", "Racing")';
        }
</script>

