
@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>racing center</h2>

    <div class="card-group">
        <div class="card">
            <img src="~/Images/Start_race.png" class="card-img-top itemPicture" alt="Engine">
            <div class="card-body">
                <h5 class="card-title">Race</h5>
                <p class="card-text">Choose cars and start race</p>
                <a href="@Url.Action("Index", "RaceCarsSelector")" class="btn btn-primary">Start race</a>
            </div>
        </div>
        <div class="card">
            <img src="~/Images/RaceResults.png" class="card-img-top itemPicture" alt="Engine">
            <div class="card-body">
                <h5 class="card-title">Race results</h5>
                <p class="card-text">View results</p>
                <a href="@Url.Action("Index", "RacingCar")" class="btn btn-primary">Results</a>
            </div>
        </div>

    </div>
</body>
