
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="card-group">
    <div class="card">
        <img src="~/Images/Parts.png" class="card-img-top" alt="Engine">
        <div class="card-body">
            <h5 class="card-title">Race</h5>
            <p class="card-text">Choose cars and start race</p>
            <a href="@Url.Action("Index", "RaceCarsSelector")" class="btn btn-primary">Manage components</a>
            @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
        </div>
    </div>
    <div class="card">
        <img src="~/Images/Car workshop.png" class="card-img-top" alt="Engine">
        <div class="card-body">
            <h5 class="card-title">Car workshop</h5>
            <p class="card-text">Create, modify or delete cars</p>
            <a href="@Url.Action("Index", "RacingCar")" class="btn btn-primary">Manage cars</a>
        </div>
    </div>

</div>
