@*@model RacingWeb.Models.SelectSimpleCarsView*@
@model IEnumerable<RacingWeb.Models.SimpleCarView>


<div>
    <h4>SelectSimpleCarsView</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <table class="table">

        <tr>
            <th>Car name</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem =>item.Name)
                </td>
            </tr>
        }

    </table>
</p>
