@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="tableBlock" class="table table-dark col-md-4"></div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" onclick="StartRace()" value="StartRace" />
        <input type="button" onclick="GetStatus()" value="GetStatus" />
    </div>
</div>

<script type="text/jscript">

    $(document).ready(function () {

        ShowAllCars()
    })


    // Получение всех машин по ajax-запросу
    function ShowAllCars() {
        $.ajax({
            url: '/MakeRace/GetStatus/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

        // происходит ли гонка
    function IsRaceRunning() {
        $.ajax({
            url: '/MakeRace/isRaceRunning/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                GetStatus(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // вывод машин в таблицу
    function WriteResponse(cars) {
        var strResult = "<table><th>ID</th><th>Title</th><th>SubTitle</th><th>Body</th>";
        $.each(cars, function (index, car) {
            strResult += "<tr><td>" + car.Id + "</td><td> " + car.Name + "</td><td>" + car.DistanceCovered + "</td></tr > ";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);

    }

    // начало гонки 
    function StartRace() {
        $.get("/MakeRace/StartRace");
        GetStatus()
    };

    //обновление таблицы статуса
    function GetStatus(data) {
        let timerFunc = setInterval(function () {
            ShowAllCars();
            if (data) {
                clearInterval(timerFunc)
            }
        }, 500);
    };
</script>
