@*@model RacingWeb.Models.EngineView*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{Html.RenderAction("CarListPartial");}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<input type="submit" value="Create" class="btn btn-default" />*@
        <input type="button" onclick="StartRace()" value="StartRace" />
    </div>
</div>

<script type="text/jscript">
        function StartRace() {
            $.get("/MakeRace/StartRace");
        };
</script>
@*<p>
    <input type="button" onclick="CreateMergeReport()" value="Create" />
</p>*@