@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Styles/Race.css" rel="stylesheet" type="text/css" />
</head>

<h2>Index</h2>


<div id="tableBlock" class="table table-dark col-md-6"></div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" id="startRace" onclick="StartRace()" value="Start Race" />
        <input type="button" onclick="GetAlert()" value="GetAlert" />
        <input type="button" id="pauseRace" onclick="PauseRace()" value="Pause Race" />
        <input type="button" id="resumeRace" onclick="ResumeRace()" value="Resume Race" />
    </div>
</div>
<div id="logBlock" class=" col-md-10">
    <textarea id="textArea" class=" col-md-10"></textarea>
</div>


<script type="text/jscript">

    $(document).ready(function () {
        ShowAllCars()
    })


    // Получение всех машин по ajax-запросу
    function ShowAllCars() {
        $.ajax({
            url: '/MakeRace/GetStatus/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
                WriteLog(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    };

    function GetAlert() {
        alert("alert")
    };

    //    // происходит ли гонка
    //function IsRaceRunning() {
    //    $.ajax({
    //        url: '/MakeRace/isRaceRunning/',
    //        type: 'get',
    //        dataType: 'json',
    //        success: function (data) {
    //            GetStatus(data);
    //        },
    //        error: function (x, y, z) {
    //            alert(x + '\n' + y + '\n' + z);
    //        }
    //    });
    //}

    // вывод машин в таблицу

    function WriteResponse(cars) {
        var strResult = "<table><th>Place</th><th>Car name</th><th>Progress on distance</th>";
        $.each(cars, function (index, car) {
            strResult += "<tr><td>" + car.Place + "</td><td> " + car.Name + "</td><td>" + car.DistanceCovered + "</td></tr > ";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);

    }
    let mesCounter = 1;
    function WriteLog(cars) {
        var strResult = $("#textArea").val();
        $.each(cars, function (index, car) {
            $.each(car.StatusMessage, function (index, message) {
                var currentdate = new Date();
                var datetime = currentdate.getHours() + ":" + ((currentdate.getMinutes() < 10) ? "0" : "") + currentdate.getMinutes() +
                    ":" + ((currentdate.getSeconds() < 10) ? "0" : "") + currentdate.getSeconds();
                mesCounter++;
                strResult += datetime + ':' + message + '\n';
            });
        });
        $("#textArea").html(strResult);

    }


    // начало гонки синхронно
    //function StartRace() {

    //    startRace()
    //    //$.get("/MakeRace/StartRace");
    //    GetStatus()
    //};


    //начало гонки асинхронно
    function StartRace() {
        //$("#startRace").css({ "disabled": "true" });
        document.getElementById("startRace").disabled = true;
        $("#textArea").html("Race started" + '\n')
        startRace();
        //GetStatus()
    };
    function PauseRace() {
        $.ajax({
            url: '/MakeRace/PauseRace',
            type: 'GET',
            dataType: 'json',
        });
    }
    function ResumeRace() {
        $.ajax({
            url: '/MakeRace/ResumeRace',
            type: 'GET',
            dataType: 'json',
        });
    }


    //обновление таблицы статуса
    function GetStatus() {
        //        let statusCount = 0;
        let timerFunc = setInterval(function () {
            $.get("/MakeRace/IsRaceRunning", function (data) {
                //               statusCount++;
                ShowAllCars();
                //              alert(statusCount)
                var check = data.toLowerCase() == 'true' ? true : false;
                if (check === false) {
                    document.getElementById("startRace").disabled = false;
                    var strRaceFinished = $("#textArea").val() + '\n' + "Race finished"
                    $("#textArea").html(strRaceFinished)
                    clearInterval(timerFunc)
                }
            })
        }, 500);
    };

    var startRace = function startRaceAjax() {
        $.ajax({
            url: '/MakeRace/StartRace',
            type: 'GET',
            dataType: 'json',
            success:
                GetStatus(),
        });
    }
</script>
