@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Styles/Race.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrap">
        <div class="container_row" id="outerContainer">
            <div class="container_column" id="innerContainer">
                <div id="tableBlock" class="table table-dark"></div>
                <div class="textAreaPanel"><textarea id="textArea" rows="10"></textarea> </div>
            </div>
            <div class="container_column" id="buttonContainer">
                <input type="button" class="btn btn-primary block" id="startRace" onclick="StartRace()" value="Start Race" />
                <input type="button" class="btn btn-primary block" id="pauseRace" onclick="PauseRace()" value="Pause Race" />
                <input type="button" class="btn btn-primary block" id="resumeRace" onclick="ResumeRace()" value="Resume Race" />
                <input type="button" class="btn btn-primary block" id="saveResults" onclick="SaveResults()" value="Save results" />
            </div>

        </div>
    </div>
</body>

<script type="text/jscript">

    $(document).ready(function () {
        CheckCars();
        ShowAllCars();
        document.getElementById("pauseRace").disabled = true;
        document.getElementById("resumeRace").disabled = true;
        document.getElementById("saveResults").disabled = true;
    })


    // Получение всех машин по ajax-запросу
    function ShowAllCars() {
        $.ajax({
            url: '/MakeRace/GetStatus/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
                WriteLog(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    };

    function GetAlert() {
        alert("alert")
    };

    function CheckData(cars) {
        if (cars.length === 0) {
            alert("no element");
            document.getElementById("startRace").disabled = true;
        }
        else {
            alert(cars.length)
        }
    }

    // вывод машин в таблицу
    function WriteResponse(cars) {
        var strResult = "<table><th>Place</th><th>Car name</th><th>Progress on distance</th>";
        $.each(cars, function (index, car) {
            strResult += "<tr><td>" + car.Place + "</td><td> " + car.Name + "</td><td>" + car.DistanceCovered + "</td></tr > ";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);
    }

    function WriteLog(cars) {
        var strResult = $("#textArea").val();
        $.each(cars, function (index, car) {
            $.each(car.StatusMessage, function (index, message) {
                var currentdate = new Date();
                var datetime = currentdate.getHours() + ":" + ((currentdate.getMinutes() < 10) ? "0" : "") + currentdate.getMinutes() +
                    ":" + ((currentdate.getSeconds() < 10) ? "0" : "") + currentdate.getSeconds();
                strResult += datetime + ':' + message + '\n';
            });
        });
        $("#textArea").html(strResult);

    }
    //начало гонки асинхронно
    function StartRace() {
        document.getElementById("startRace").disabled = true;
        document.getElementById("pauseRace").disabled = false;
        $("#textArea").html("Race started" + '\n')
        startRace();
    }

    var isPaused = false;
    //пауза гонки
    function PauseRace() {
        isPaused = true;
        document.getElementById("resumeRace").disabled = false;
        document.getElementById("pauseRace").disabled = true;
        pauseRace();
    }
    function ResumeRace() {
        isPaused = false;
        document.getElementById("resumeRace").disabled = true;
        document.getElementById("pauseRace").disabled = false;
        resumeRace();
    }

    //обновление таблицы статусаk
    function GetStatus() {
        let timerFunc = setInterval(function () {
            $.get("/MakeRace/IsRaceRunning", function (data) {
                ShowAllCars();
                var check = data.toLowerCase() == 'true' ? true : false;
                if (check === false) {
                    if (isPaused === false) {
                        document.getElementById("startRace").disabled = false;
                        document.getElementById("resumeRace").disabled = true;
                        document.getElementById("pauseRace").disabled = true;
                        document.getElementById("saveResults").disabled = false;
                        var strRaceFinished = $("#textArea").val() //+ "Race finished"
                        $("#textArea").html(strRaceFinished)
                    }
                    var strRaceFinished = $("#textArea").val() + "Race paused" + '\n'
                    clearInterval(timerFunc)
                }
            })
        }, 500);
    };

    //старт гонки
    var startRace = function startRaceAjax() {
        $.ajax({
            url: '/MakeRace/StartRace',
            type: 'GET',
            dataType: 'json',
            success:
                GetStatus(),
        });
    }

    var pauseRace = function PauseRaceAjax() {
        $.ajax({
            url: '/MakeRace/PauseRace',
            type: 'GET',
            dataType: 'json',

        });
    }

    //возобновление гонки
    var resumeRace = function ResumeRaceAjax() {
        $.ajax({
            url: '/MakeRace/ResumeRace',
            type: 'GET',
            dataType: 'json',
            success:
                GetStatus(),
        });
    }

    function CheckCars() {
        $.ajax({
            url: '/MakeRace/GetStatus/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data.length === 0) {
                    alert("You didnt select cars for race!");
                    document.getElementById("startRace").disabled = true;
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    };
    function SaveResults() {
        saveRaceResult();
        document.getElementById("saveResults").disabled = true;
    }

    //возобновление гонки
    var saveRaceResult = function WriteResultToDBAjax() {
        $.ajax({
            url: '/MakeRace/SaveRaceResultToDB',
            type: 'GET',
            dataType: 'json'
        });
    }



</script>
